{% extends "_layout.html" %} {% block title %} {% endblock %}{% block header %}
{% endblock %} {% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to Nextagram!</h1>
    <p>
      Start posting images on your profile now!
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="/sessions/new" role="button"
        >Sign In &raquo;</a
      >
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="/users/new" role="button"
        >Sign Up &raquo;</a
      >
    </p>
  </div>
</div>
{% endblock %}
